#nav-top {
    text-align: center;
}
.menu-item1 {
    text-decoration: none;
    padding: 0 10px;
    display: inline-block;
    border-right: 2px solid gray;
}
.menu-item1:last-of-type {
    border-right: none;
}
.sg-navbar {box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);}
.sg-divider {
	height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.sg-line-divider {
	margin: 5rem 0;
	color: inherit;
    border: 0;
    border-top: 1px solid;
    opacity: .25;
}

.bg-right-bottom-to-top {
    background: linear-gradient(
        to top,
        rgba(255, 255, 255, 0) 5%,
        rgba(255, 255, 255, 0.15) 15%,
        rgba(255, 255, 255, 0.65) 55%,
        rgba(255, 255, 255, 1) 85%,
        rgba(255, 255, 255, 1) 100%
    ),
    url("/img/a.jpg");
    z-index:-1; 
    background-repeat: no-repeat; 
    background-position: right bottom; 
    border-radius:20px;
}

.bg-home {
    background: linear-gradient(
        rgba(255,255,255,0.6),
        rgba(255,255,255,0.6)
    ), url("/img/b2.jpg");
    
    background-size: cover;
}